<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
    ">
    <bean id="propertyConfigurer" class="com.hsy.java.util.jdbc.PropertyConfig">
        <property name="locations">
            <list>
                <value>classpath*:/properties/config.properties</value>
            </list>
        </property>
        <!-- 是否加载插件。当为false或者没有配置configList都视为不加载插件读取配置-->
        <property name="loadPlugin" value="true" />
        <property name="configList">
            <list>
                <ref bean="jdbcConfigHelper"/>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="fileEncoding" value="utf-8"/>
    </bean>

    <bean id="jdbcConfigHelper" class="com.hsy.java.util.jdbc.JdbcConfigHelper">
        <!-- 排除的key，这些key自己加载 -->
        <property name="excludeKeys">
            <set>
            </set>
        </property>
    </bean>
</beans>