<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hsy.sso.dao.mybatis.mapper.ITSsoUserMapper">
    <select id="selectUser" resultType="TSsoUser">
        SELECT id,user_code,user_name,password,password_encryption_type,
            mobile
        FROM sso.t_sso_user
        WHERE 1=1
              AND mobile = #{mobile}
              AND password = #{password}
    </select>
    
    <insert id="insertUser" parameterType="TSsoUser">
        INSERT ignore INTO t_sso_user(id,user_name,password,
              password_encryption_type,mobile)
        VALUES (#{id},#{userName},#{password},#{passwordEncryptionType},#{mobile})
    </insert>
</mapper>